<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <context:property-placeholder location="WEB-INF/config/jdbc.properties"/>
    <context:component-scan base-package="tdh.web" />
	<context:component-scan base-package="tdh.fxxt" />
	

	
    <bean id="exportdataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${export.driverClassName}"></property>
		<property name="url" value="${export.url}"></property>
		<property name="username" value="${export.username}"></property>
		<property name="password" value="${export.password}"></property>
		<property name="maxActive" value="${export.maxActive}"></property>
		<property name="maxIdle" value="${export.maxIdle}"></property>
		<property name="maxWait" value="${export.maxWait}"></property>
		<property name="defaultAutoCommit" value="${export.defaultAutoCommit}"></property>
	</bean>
	
	<bean id="exporttransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"><ref local="exportdataSource" /></property>
	</bean>
	
    <tx:annotation-driven transaction-manager="exporttransactionManager" proxy-target-class="true" />
    
    <bean id="exportjdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource"><ref bean="exportdataSource"/></property>
	</bean>
	
	<bean id="exportjdbcTemplateExt" class="tdh.framework.dao.springjdbc.JdbcTemplateExt">
		<property name="dataSource"><ref bean="exportdataSource"/></property>
	</bean>
	
	<bean id="exportPaginateJdbc"  class="tdh.frame.web.dao.jdbc.PaginateJdbc"> 
		<property name="jdbcTemplate"><ref bean="exportjdbcTemplateExt" /></property> 
	</bean> 
 
</beans>