<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <context:property-placeholder location="WEB-INF/config/jdbc.properties"/>
    <context:component-scan base-package="tdh.web" />
	<context:component-scan base-package="tdh.fxxt" />
	

	
    <bean id="xdbdataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${xdb.driverClassName}"></property>
		<property name="url" value="${xdb.url}"></property>
		<property name="username" value="${xdb.username}"></property>
		<property name="password" value="${xdb.password}"></property>
		<property name="maxActive" value="${xdb.maxActive}"></property>
		<property name="maxIdle" value="${xdb.maxIdle}"></property>
		<property name="maxWait" value="${xdb.maxWait}"></property>
		<property name="defaultAutoCommit" value="${xdb.defaultAutoCommit}"></property>
	</bean>
	
	<bean id="xdbtransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"><ref local="xdbdataSource" /></property>
	</bean>
	
    <tx:annotation-driven transaction-manager="xdbtransactionManager" proxy-target-class="true" />
    
    <bean id="xdbjdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource"><ref bean="xdbdataSource"/></property>
	</bean>
	
	<bean id="xdbjdbcTemplateExt" class="tdh.framework.dao.springjdbc.JdbcTemplateExt">
		<property name="dataSource"><ref bean="xdbdataSource"/></property>
	</bean>
	
	<bean id="xdbPaginateJdbc"  class="tdh.frame.web.dao.jdbc.PaginateJdbc"> 
		<property name="jdbcTemplate"><ref bean="xdbjdbcTemplateExt" /></property> 
	</bean> 
 
</beans>