@CHARSET "UTF-8";

body,html {
	margin: 0px;
	padding: 0px;
	background:url(../images/bg-new-1.png) no-repeat ;
	font-fimaly:微软雅黑;
}

a img{
	outline:none;
	border:none;
}

a:link    {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover   {text-decoration: none;}

.mainContent {
	width: 1920px;
	height: 1000px;
	margin:0px;
	margin-left:5px;
	padding: 0px;
	font-fimaly:微软雅黑;
}

.map_panel {
	width: 600px;
	height: 750px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-fimaly:微软雅黑;
}

.condtion_panel{
	position: absolute;
	left: 130px;top:148px;
	font-size:18px;
	z-index:99999;
	font-fimaly:微软雅黑;
}

.condtion_bottom{
	position: absolute;
	left: 60px;top:720px;
	font-size:18px;
	z-index:99999;
	font-fimaly:微软雅黑;
}

.menu_title{
	position: absolute;
	left: 1650px;top:75px;
	font-size:26px;
	color:#ffffff;
	z-index:99999;
	width:200px;
	font-fimaly:微软雅黑;
}

.menu_click{
	position: absolute;
	left: 1800px;top:75px;
	font-size:26px;
	color:#ffffff;
	z-index:99999;
	cursor:pointer;
	width:40px;
	font-fimaly:微软雅黑;
}

.menu_panel{
	position: absolute;
	left: 1620px;top:110px;
	display:none;
	font-size:26px;
	color:#ffffff;
	z-index:99999;
	cursor:pointer;
	width:200px;
	font-fimaly:微软雅黑;
}

.menu_panel_bg{
	padding-left:20px;
	font-size:18px;
	font-fimaly:微软雅黑;
}

.menu_panel_a{
	color:#ffffff;
	font-fimaly:微软雅黑;
}

.menu_panel_td_hover{
	height:32px;
	background:url(../images/xlk-dj_14.png);
}

.menu_panel_td{
	height:32px;
	background:url(../images/xlk-mid_12.png);
}

.menu_panel_split{
	height:1px;
	background:#71afe7;
}
.map_plus{
	position: absolute;
	left: 445px;top:145px;	
	z-index:99999;
}

.chart_panel {
	width: 1320px;
	height: 1000px;
	margin: 0px;
	padding: 0px;
}

.tab_top_left {
	width: 10px;
	height: 11px;
	background: url(../images/nrk/nrk_03.png)
}

.tab_top_center {
	height: 11px;
	background: url(../images/nrk/nrk_05.png)
}

.tab_top_right {
	width: 10px;
	height: 11px;
	background: url(../images/nrk/nrk_07.png)
}

.tab_bottom_left {
	width: 10px;
	height: 11px;
	background: url(../images/nrk/nrk_18.png)
}

.tab_bottom_center {
	width: 10px;
	height: 11px;
	background: url(../images/nrk/nrk_20.png)
}

.tab_bottom_right {
	width: 10px;
	height: 11px;
	background: url(../images/nrk/nrk_22.png)
}

.tab_left {
	width: 10px;
	background: url(../images/nrk/nrk_10.png)
}

.tab_right {
	width: 10px;
	background: url(../images/nrk/nrk_14.png)
}

.tab_center {
	/*background-color: #ffffff;*/
	background:url(../images/nrk/nrk_12.png)
}

input[type=radio].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=radio].css-checkbox+label.css-label {
	padding-left: 20px;
	height: 15px;
	display: inline-block;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer;
}

input[type=radio].css-checkbox:checked+label.css-label {
	background-position: 0 -15px;
}

label.css-label {
	background-image: url(../../resources/images/radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.table-body {
	border: 0px solid #CCCCCC;
	border-collapse: collapse;
	font-size:13px;
	background-color: #FFFFFF;
}

.table-header {
	background-color: #F4F4F4;
	height: 27px;
	text-align: center;
}

.table-header-row,.table-row {
	overflow: hidden;
	cursor: default;
	border: 0px solid #CCCCCC;
	height: 30px;
	text-align: center;
}

.table-header-th { 
	border: 1px solid #CCCCCC;
	font-size: 12px;
	padding: 0px 2px;
}

.table-header-row td,.table-row td { 
	border: 1px solid #CCCCCC;
	font-size: 12px;
	padding: 0px 2px;
}

.table-cell {
	min-width: 55px;
}

.table-cell-mc {
	padding: 0 4px;
	width: 80px;
	min-width: 50px;
	text-align: left;
}

.table-header-row input[type=text],.table-row input[type=text] {
	width: 100%;
	cursor: default;
	border-width: 0;
	border-style: none;
	background-color: transparent;
	font-size: 13px;
}

.table-header-row input[type=text] {
	text-align: center;
}

.table-cell input[type=text] {
	text-align: center;
}

.table-cell-maxnum {
	text-align: right;
}

.table-cell-rownumber {
	background: url("../../resources/images/height_btl_07.png");
	background-color: #F4F4F4;
	width: 25px;
	min-width: 22px;
	text-align: center;
}

.selDate {
	background: transparent url(../../resources/images/rl/rili_03.png)
		no-repeat right;
	border: 1px solid #CCCCCC;
	text-align: left;
	width: 120px;
	height: 22px;
	font-size: 12px;
	padding-left: 4px;
}

.table_row{
	overflow: hidden;
	cursor: default;
	border: 0px solid #CCCCCC;
}